.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  padding: 3% 7%;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  font-size: 13px;

  padding: 5px 10px;
  border: 2px solid #bf4f74;
  border-radius: 3px;
  color: #bf4f74;
}
.btn:hover {
  background-color: #bf4f74;
  color: white;
  cursor: pointer;
}
.blockInfo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.blocked {
  text-decoration: line-through;
}
.text {
  padding: 0;
  margin: 3px 3px;
}
